{% extends "basic/base.html" %}
{% load static %}
{% block "styleSheet" %}
{{block.super}}
<link rel="stylesheet" href="{% static 'basic/css/blogCard.css' %}">
{% endblock "styleSheet" %}



{% block "mainContent" %}


<div class="blog-card-container">
{% include "basic/components/cards.html" %}
</div>


{% if blogs.has_previous %}
<button><a href="?page=1">&laquo; first page</a></button>
<button><a href="?page={{blogs.previous_page_number}}">Previous</a></button>
{% endif %}
<span>
    {{blogs.number}}/{{blogs.paginator.num_pages}}

</span>
{% if blogs.has_next %}
<button><a href="?page={{blogs.next_page_number}}">Next</a></button>
<button><a href="?page={{blogs.paginator.num_pages}}"> >> last page</a></button>

{% endif %}



{% endblock "mainContent" %}